# Venvs e caches
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Git & IDE
.git/
.gitignore
.vscode/
.idea/

# OS
.DS_Store

# Logs e artefatos
*.log
dist/
build/
.eggs/
*.egg-info/

# Env (NUNCA bake secrets)
.env
.env.local

